@page
@{
    ViewData["Title"] = "EntirePage";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>EntirePage</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <input type="text" name="PersonName" id="PersonName" placeholder="Enter your name ..." />
        </div>
    </div>

    <div class="row m-1">
        <div class="col-sm-4">
           <input type="button" name="EntireButton" id="EntireBottun" class="btn btn-info" value="Entire" />
        </div>
    </div>
</div>
